schemas/xml/resmd-datacite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://schema.nist.gov/xml/resmd-datacite/1.0wd" 
           xmlns="http://www.w3.org/2001/XMLSchema" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:rsm="http://schema.nist.gov/xml/res-md/1.0wd" 
           xmlns:dcr="http://schema.nist.gov/xml/resmd-datacite/1.0wd" 
           xmlns:am="http://schema.nist.gov/xml/nmrr.schema.annot" 
           elementFormDefault="unqualified" 
           attributeFormDefault="unqualified" version="0.1">

   <xs:annotation>
      <xs:documentation>
        A metadata extension schema to res-md (a metadata schema for
        describing resources in research data federation) that
        provides Datacite-compatible types.
      </xs:documentation>
      <xs:documentation>
        The defintions here are directly derived from the Datacite
        Metadata Schema version 3.1 (https://schema.datacite.org/meta/kernel-3/).
      </xs:documentation>
   </xs:annotation>

   <xs:import namespace="http://schema.nist.gov/xml/res-md/1.0wd"/>

   <xs:complexType name="DciteDate">
     <xs:annotation>
       <xs:documentation>
         A date for an event in the lifecycle of a resource corresponding to
         one of the Datacite (v3.1) date types.
       </xs:documentation>
       <xs:documentation>
         This type can be used an xsi:type-specified date element.  
       </xs:documentation>
     </xs:annotation>

     <xs:simpleContent>
       <xs:extension base="rsm:Date"> 

         <xs:attribute name="role" type="dcr:DateType">
            <xs:annotation>
              <xs:documentation>
                A label indicating the role this date plays in the lifecycle
                of a resource.  
              </xs:documentation>
              <xs:documentation>
                This is restricted to be one of the Datacite defined values.
              </xs:documentation>
            </xs:annotation>
         </xs:attribute>

       </xs:extension>       
     </xs:simpleContent>
   </xs:complexType>

   <xs:simpleType name="DateType">
     <xs:annotation>
       <xs:appinfo>
         <am:dataciteproperty>dateType</am:dataciteproperty>
       </xs:appinfo>
       <xs:documentation>
         A type of date (i.e. a role) important to the publishing of
         a resource which corresponds to those defined by the Datacite
         Metadata schema (v3.1)
       </xs:documentation>
     </xs:annotation>

     <xs:restriction base="xs:string">

       <xs:enumeration value="Accepted">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Accepted</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the date that the publisher accepted the resource
             into their system
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Available">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Available</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the date (or date range) that the resource is made
             publicly available
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Collected">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Collected</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the date (or date range) in which the resource content
             was collected
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Copyrighted">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Copyrighted</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the specific, documented date at which the resource
             receives a copyrighted status, if applicable.  
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>
         
       <xs:enumeration value="Created">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Created</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the date (or date range) that the resource itself was
             pub together.  A single date indicates when the creation was
             completed.  
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Issued">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Issued</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the date (or date range) that the resource is published
             or distributed
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Submitted">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Submitted</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the date that the creator submits the resource to the
             publisher.  
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Updated">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Updated</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the date (or date range) of the last update to the 
             resource.  
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Valid">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Valid</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the date (or date range) during which the resource 
             is accurate.  
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

     </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="DciteContributor">
     <xs:annotation>
       <xs:documentation>
         a contributor that plays one of the roles defined by the
         datacite metadata schema.  
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rsm:Person">

          <xs:attribute name="role" type="dcr:ContributorType" use="required">
            <xs:annotation>
              <xs:documentation>
                a label indicating the contribution that this person
                or organization made to the resource.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>

       </xs:extension>
     </xs:complexContent>

   </xs:complexType>

   <xs:simpleType name="ContributorType">
     <xs:annotation>
       <xs:appinfo>
         <am:dataciteproperty>ContributorType</am:dataciteproperty>
       </xs:appinfo>
       <xs:documentation>
         Controlled labels that indicate the type of contribution
         made which correspond to those defined by the Datacite
         Metadata schema (v3.1)
       </xs:documentation>
       <xs:documentation>
         Note that ContactPerson is not defined; the &lt;contact&gt; element
         should be used instead.  
       </xs:documentation>
     </xs:annotation>

     <xs:restriction base="xs:string">

       <xs:enumeration value="DataCollector">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>DataCollector</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person or institution responsible for
             finding, gathering/collecting data under the guidelines
             of the author(s) or principal investigator.  
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="DataCurator">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>DataCurator</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person or institution tasked with reviewing,
             enhancing, cleaning, or standardizing metadata and the
             associated data submitted for storage, use, and
             mainteneance witin a data cetner or repository
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="DataManager">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>DataManager</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person or organization responsible for maintaining
             the finished resource 
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Distributor">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Distributor</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the institution tasked with responsibility to
             generate/disseminate copies of the resource in either electronic
             or print form.  
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Editor">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Editor</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person who oversees the details related to the
             publication format of the resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Funder">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Funder</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating an institution that provided financial support for the
             development of the resource 
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="HostingInstitution">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>HostingInstitution</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating the organization allowing the resource to be available
             on the internet through the provision of its
             hardware/software/operating support
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Producer">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Producer</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person or organization responsible for the artistry
             and form of a media product
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="ProjectLeader">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>ProjectLeader</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person officially designated as head of a project
             team instrumental in the work necessary to the development of
             the resource 
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="ProjectManager">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>ProjectManager</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person officially designated as manager of a project
             which was instrumental in the work necessary to the development of
             the resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="ProjectMember">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>ProjectMember</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person on the membership list of a designated project
             or project team which was instrumental in the work necessary to
             the development of the resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="RegistrationAgency">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>RegistrationAgency</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating an institution/organization officially appointed by
             a registration authority to handle specific tasks within a
             defined area of responsibility
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="RegistrationAuthority">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>RegistrationAuthority</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a standards-setting body from which registration
             agencies obtain official recognition and guidance
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="RelatedPerson">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>RelatedPerson</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person without a specifically defined role in the
             development of the resource, but who is someone a creator wishes
             to recognize.
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Researcher">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Researcher</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person involved in analyzing data or the results of
             an experiment or formal study.
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="ResearchGroup">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>ResearchGroup</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a group of individuals with a lab, department, or
             division with a particular, defined focus of activity
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="RightsHolder">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>RightsHolder</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person or institution owning or managing property
             rights, including intellectual property rights, over the resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Sponsor">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Sponsor</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person or organization that issued a contract or
             under the auspices of which a work has been written, printed,
             published, developed, etc. 
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Supervisor">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Supervisor</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a designated administrator over one or more groups/teams
             working to produce the resource or over one or more streps of the 
             development process
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="WorkPackageLeader">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>WorkPackageLeader</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person responsible for ensuring the comprehensive
             contents, versioning, and availability of a work package (i.e.
             a recognized data product, not all of which may be included in the
             resource) during the development of the resource.
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Other">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Other</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             indicating a person or organization making a significant
             contribution to the development and/or maintenance of the
             resource, but whose contribution does not fit the definitions
             of the other defined contributor types.  
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

     </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="DciteRelation">
     <xs:annotation>
       <xs:documentation>
         a relationship type that corresponds directly to one of the types 
         defined by the datacite metadata schema.  
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rsm:NamePID">
          <xs:attribute name="label" type="dcr:RelationType" use="required">
            <xs:annotation>
              <xs:documentation>
                a label indicating the Datacite defined relationship type.
              </xs:documentation>
            </xs:annotation>
          </xs:attribute>
       </xs:extension>
     </xs:complexContent>

   </xs:complexType>

   <xs:simpleType name="RelationType">
     <xs:annotation>
       <xs:appinfo>
         <am:dataciteproperty>RelationType</am:dataciteproperty>
       </xs:appinfo>
       <xs:documentation>
         Controlled labels that indicate a type of relationship
         between the resource the record describes (the subject resource)
         and another resource (the target resource).  These types
         correspond to those defined by the Datacite Metadata schema (v3.1).
       </xs:documentation>
     </xs:annotation>

     <xs:restriction base="xs:string">

       <xs:enumeration value="IsCitedBy">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsCitedBy</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the targe resource includes
             the subject resource in a citation
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Cites">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Cites</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource includes
             the target resource in a citation
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsSupplementTo">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsSupplementTo</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is a supplement
             to the target resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsSupplementedBy">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsSupplementedBy</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the target resource is a supplement
             to the subject resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsContinuedBy">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsContinuedBy</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is continued
             by the target resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Continues">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Continues</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is a 
             continuation for the target resource in a citation
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="HasMetadata">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>HasMetadata</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the target resource provides
             additional metadata about the subject resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsMetadataFor">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsMetadataFor</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource provides
             additional metadata about the target resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsNewVersionOf">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsNewVersionOf</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is a new 
             edition of the target resource, where the new edition is a
             modification or update
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsPreviousVersionOf">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsPreviousVersionOf</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is a previous
             edition of the target resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsPartOf">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsPartOf</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is a portion
             of the target resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="HasPart">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>HasPart</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource includes 
             the target resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsReferencedBy">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsReferencedBy</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is used as a
             source of information or data by the target resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="References">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>References</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the target resource is used as a
             source of information or data by the subject resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsDocumentedBy">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsDocumentedBy</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the target resource is documentation
             about or explaining the subject resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Documents">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Documents</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is documentation
             about or explaining the target resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsCompiledBy">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsCompiledBy</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the target resource is used to 
             compile or create the subject resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Compiles">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Compiles</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the target resource is the result 
             of a compile or creation event using the subject resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsVariantFormOf">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsVariantFormOf</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is a variant or 
             different form of the the target resource, e.g. calculated or
             calibrated form or uses different packaging
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsOriginalFormOf">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsOriginalFormOf</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is the original
             form of the the target resource (e.g. before some transformation).
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsIdenticalTo">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsIdenticalTo</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject and target resources 
             are separate instances of the identical resource
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsReviewedBy">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsReviewedBy</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is reviewed by
             the target resource 
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="Reviews">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>Reviews</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is a review of
             the target resource 
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsDerivedFrom">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsDerivedFrom</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the target resource is a source 
             upon which the subject resource is based
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

       <xs:enumeration value="IsSourceOf">
         <xs:annotation>
           <xs:appinfo>
             <am:dataciteproperty>IsSourceOf</am:dataciteproperty>
           </xs:appinfo>
           <xs:documentation>
             a relationship indicating that the subject resource is a source 
             upon which the target resource is based
           </xs:documentation>
         </xs:annotation>
       </xs:enumeration>

     </xs:restriction>
   </xs:simpleType>


   

</xs:schema>
   
