schemas/xml/resmd-access.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://schema.nist.gov/xml/resmd-access/1.0wd" 
           xmlns="http://www.w3.org/2001/XMLSchema" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:rsm="http://schema.nist.gov/xml/res-md/1.0wd" 
           xmlns:rac="http://schema.nist.gov/xml/resmd-access/1.0wd" 
           xmlns:am="http://schema.nist.gov/xml/mgi.schema.annot" 
           elementFormDefault="unqualified" 
           attributeFormDefault="unqualified" version="0.2">

   <xs:annotation>
      <xs:documentation>
        An extension of the MGI resource metadata for describing
        access to data and service resources.
      </xs:documentation>
   </xs:annotation>

   <xs:import namespace="http://schema.nist.gov/xml/res-md/1.0wd"
              schemaLocation="https://raw.githubusercontent.com/usnistgov/mgi-resmd/master/schemas/xml/res-md.xsd"/>

   <xs:complexType name="AccessibleResource">
     <xs:annotation>
       <xs:documentation>
         a kind of resource that can be accessed as part of a federated data
         application.  
       </xs:documentation>
       <xs:documentation>
         This typically refers to things like data and software that can be
         downloaded, accessed via an API or portal, or engaged using special
         software.  
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rsm:Resource">
         <xs:sequence>

           <xs:element name="access" type="rac:Access" minOccurs="0">
             <xs:annotation>
               <xs:documentation>
                 Information describing how to access the resource and its 
                 features and capabilities.  
               </xs:documentation>
             </xs:annotation>
           </xs:element>

         </xs:sequence>
       </xs:extension>
     </xs:complexContent>

   </xs:complexType>

   <xs:complexType name="Access">
     <xs:annotation>
       <xs:documentation>
         metadata describing how one can access a resource and its features
         and capabilities.
       </xs:documentation>
     </xs:annotation>

     <xs:sequence>

       <xs:element name="policy" type="rac:Policy">
         <xs:annotation>
           <xs:documentation>
             A description of the policy for accessing a resource.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name="via" type="rac:AccessVia"
                   minOccurs="0" maxOccurs="unbounded">
         <xs:annotation>
           <xs:documentation>
             A description of the access to a resource through some 
             mechanism (other than simple download).
           </xs:documentation>
           <xs:documentation>
             As the AccessVia type is abstract, all instances must include an
             xsi:type attribute.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

     </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AccessVia">
     <xs:annotation>
       <xs:documentation>
         metadata describing how one can access a resource via some mechanism
       </xs:documentation>
       <xs:documentation>
         This class re-uses the Role type to provide metadata specialized
         metadata in the case where the access mechanism (e.g. a portal or
         a software package) is not registered on its own.
       </xs:documentation>
     </xs:annotation>

     <xs:sequence>
       <xs:element name="title" type="xs:token"
                   minOccurs="0" maxOccurs="1">
         <xs:annotation>
           <xs:documentation>
             A name for the access method or the thing accessed via the
             accessURL.
           </xs:documentation>
           <xs:documentation>
             The value should be appropriate for use as the text for a
             hyperlink pointing to the accessURL.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name="description" type="xs:token" minOccurs="0">
          <xs:annotation>
             <xs:documentation>
               A summary of how this mechanism provides access to the resource.
             </xs:documentation>
             <xs:documentation>
               Providing a description is recommended if more than one
               mechanism of the same type is available.
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="accessURL" type="rac:AccessURL" minOccurs="0">
          <xs:annotation>
             <xs:documentation>
               The URL that through which user can access the resource via
               this method.
             </xs:documentation>
             <xs:documentation>
               The behavior and role of this URL depends on the specific type
               of access method.
             </xs:documentation>
          </xs:annotation>
       </xs:element>       

       <xs:element name="details" type="rsm:ResourceRole"
                   minOccurs="0" maxOccurs="1">
         <xs:annotation>
           <xs:documentation>
             An identification of the type of access mechanism this is along
             with, if appropriate, qualifications on the features and
             constraints on that mechanism.
           </xs:documentation>
           <xs:documentation>
             The child type element provides the identifying label for the
             access mechanism.  Recognized types include,
             'InteractiveResource: Portal', 'Software', and 'Service: API'.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

     </xs:sequence>

     <xs:attribute name="pid" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>
            An unambigous identifier for the access mechanism that resolves to
            a more complete description.
          </xs:documentation>
          <xs:documentation>
            This identifier should be provided if the access method (e.g. portal
            or software) is separately registered and described.  When this PID
            appears, any metadata provided in this item is for convenience of
            display and access.  The metadata provided by resolving this PID
            should be considered definitive.  
          </xs:documentation>
        </xs:annotation>
     </xs:attribute>
     
   </xs:complexType>

   <xs:complexType name="DownloadDetailsType">
     <xs:annotation>
       <xs:documentation>
         a Role whose type is forced to be 'Download'.
       </xs:documentation>
       <xs:documentation>
         This is only intended for use within an AccessVia subclass.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rsm:ResourceRole">
         <xs:sequence>
           <xs:element name="type" type="rsm:RoleType" minOccurs="1"
                       fixed="Download"/>
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ViaDownload">
     <xs:annotation>
       <xs:documentation>
         metadata describing how one can access a resource via the web
       </xs:documentation>
       <xs:documentation>
         The accessURL is a URL that (when accessed via HTTP GET) will can be
         used to download a file representing part or all of this resource.
         (See also the use attribute which refines its behavior).  The
         accessURL element is required.  
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rac:AccessVia">
         <xs:sequence>
           <xs:element name="title" type="xs:token" minOccurs="0" maxOccurs="1"/>
           <xs:element name="description" type="xs:token" minOccurs="0"/>
           <xs:element name="accessURL" type="rac:AccessURL" minOccurs="1"/>
           <xs:element name="details" type="rac:DownloadDetailsType"
                       minOccurs="0" maxOccurs="1"/>
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="Policy">
     <xs:annotation>
       <xs:documentation>
         metadata describing the policies accessing the resource
       </xs:documentation>
     </xs:annotation>

     <xs:sequence>
       <xs:element name="restriction" type="rac:Restriction"
                   minOccurs="1" maxOccurs="4">
         <xs:annotation>
           <xs:appinfo>
             <am:dcterm>accessRights</am:dcterm>
           </xs:appinfo>           
           <xs:documentation>
             A label indicating a restriction in accessing this resource.  
           </xs:documentation>
           <xs:documentation>
             This should be repeated for all Restriction values that apply.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name="rights" type="xs:token" minOccurs="0" maxOccurs="1">
         <xs:annotation>
           <xs:appinfo>
             <am:dcterm>Rights</am:dcterm>
           </xs:appinfo>           
           <xs:documentation>
             A brief, user-friendly statement clarifying who may access this 
             resource and under what conditions.
           </xs:documentation>
           <xs:documentation>
             Official legal statements giving the terms of use should be
             provided via the termsURI element.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name="termsURL" type="xs:anyURI" minOccurs="0" maxOccurs="1">
         <xs:annotation>
           <xs:appinfo>
             <am:dcterm>Rights</am:dcterm>
           </xs:appinfo>           
           <xs:documentation>
             A public URL to a document describing the terms of access
             for the resource.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

     </xs:sequence>
   </xs:complexType>

   <xs:simpleType name="Restriction">
      <xs:restriction base="xs:token">
         <xs:enumeration value="public">
            <xs:annotation>
               <xs:documentation>
                  unrestricted, anonymous access is allowed without 
                  authentication.
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="open-login">
            <xs:annotation>
               <xs:documentation>
                  unrestricted access requires a login (or other 
                  authentication mechanism).  
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="proprietary">
            <xs:annotation>
               <xs:documentation>
                  requires authentication and users only have access 
                  to datasets they have been given rights to.  Generally,
                  there is no charge to use this resource.
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="fee-required">
            <xs:annotation>
               <xs:documentation>
                  requires user to pay a one-time or subscription fee in 
                  order to access the resource.  On-line resources typically
                  will require authentication.
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="AccessURL">
     <xs:simpleContent>
       <xs:extension base="xs:anyURI">
         <xs:attribute name="use">
           <xs:annotation>
             <xs:documentation>
               A flag indicating whether this should be interpreted as a base
               URL, a full URL, or a URL to a directory that will produce a 
               listing of files.
             </xs:documentation>
             <xs:documentation>
               The default value assumed when one is not given depends on the 
               context.  
             </xs:documentation>
           </xs:annotation>
           <xs:simpleType>
             <xs:restriction base="xs:NMTOKEN">
               <xs:enumeration value="full">
                 <xs:annotation>
                   <xs:documentation>
                     Assume a full URL--that is, one that can be invoked 
                     directly without alteration.  This usually returns a 
                     single document or file.  
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="base">
                 <xs:annotation>
                   <xs:documentation>
                     Assume a base URL--that is, one requiring an extra portion
                     to be appended before being invoked.  
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="dir">
                 <xs:annotation>
                   <xs:documentation>
                     Assume URL points to a directory that will return a listing
                     of files.  
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
             </xs:restriction>
           </xs:simpleType>
         </xs:attribute>

         <xs:attribute name="returns" type="xs:token">
           <xs:annotation>
             <xs:documentation>
               a MIME type indicating what is (typically) returned when
               this URL is retrieved.
             </xs:documentation>
             <xs:documentation>
               If use="dir", returns should usually be set to "text/html" to
               indicate that the return is a web page listing links to
               individual components.  
             </xs:documentation>
           </xs:annotation>
         </xs:attribute>
         
       </xs:extension>
     </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="SoftwareRoleTypeRestriction" abstract="true">
     <xs:annotation>
       <xs:documentation>
         a Role whose type is forced to be 'Software'.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rsm:ResourceRole">
         <xs:sequence>
           <xs:element name="type" type="rsm:RoleType" minOccurs="1"
                       fixed="Software">
             <xs:annotation>
               <xs:documentation>
                 It is recommended that the pid attribute be set to
                 http://purl.org/dc/dcmitype/Software
               </xs:documentation>
             </xs:annotation>
           </xs:element>             
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="Software">
     <xs:annotation>
       <xs:documentation>
         metadata for describing software
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rac:SoftwareRoleTypeRestriction">
         <xs:sequence>

           <xs:element name="codeLanguage" type="xs:token"
                       minOccurs="0" maxOccurs="unbounded">
             <xs:annotation>
               <xs:documentation>
                 The name of the code language that the software is implemented
                 in
               </xs:documentation>
             </xs:annotation>
           </xs:element>

         </xs:sequence>
       </xs:extension>
     </xs:complexContent>

   </xs:complexType>

   <xs:complexType name="ViaSoftware">
     <xs:annotation>
       <xs:documentation>
         metadata describing how one can access a resource via locally
         installable software.
       </xs:documentation>
       <xs:documentation>
         The accessURL points to the home page for the software from which it
         can be downloaded.  
       </xs:documentation>
       <xs:documentation>
         The details element provides additional information about supported
         platforms, licensing, etc. 
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rac:AccessVia">
         <xs:sequence>
           <xs:element name="title" type="xs:token" minOccurs="0" maxOccurs="1"/>
           <xs:element name="description" type="xs:token" minOccurs="0"/>
           <xs:element name="accessURL" type="rac:AccessURL" minOccurs="0"/>
           <xs:element name="details" type="rac:Software"
                       minOccurs="0" maxOccurs="1"/>
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="MediaDetailsType">
     <xs:annotation>
       <xs:documentation>
         a Role whose type is forced to be 'Media'.
       </xs:documentation>
       <xs:documentation>
         This is only intended for use within an AccessVia subclass.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rsm:ResourceRole">
         <xs:sequence>
           <xs:element name="type" type="rsm:RoleType" minOccurs="1"
                       fixed="Physical Object: Storage Media">
             <xs:annotation>
               <xs:documentation>
                 It is recommended that the pid attribute be set to
                 http://purl.org/dc/dcmitype/PhysicalObject
               </xs:documentation>
             </xs:annotation>
           </xs:element>             
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ViaMediaRestriction" abstract="true">
     <xs:annotation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rac:AccessVia">
         <xs:sequence>
           <xs:element name="title" type="xs:token" minOccurs="0" maxOccurs="1"/>
           <xs:element name="description" type="xs:token" minOccurs="0"/>
           <xs:element name="accessURL" type="rac:AccessURL" minOccurs="0"/>
           <xs:element name="details" type="rac:MediaDetailsType"
                       minOccurs="1" maxOccurs="1"/>
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ViaMedia">
     <xs:annotation>
       <xs:documentation>
         A description of access to a resource via physical storage media
       </xs:documentation>
       <xs:documentation>
         The accessURL points to a web page that describes how to request the
         media.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rac:ViaMediaRestriction">
         <xs:sequence>

           <xs:element name="mediaType" type="xs:token"
                       minOccurs="1" maxOccurs="unbounded">
              <xs:annotation>
                 <xs:documentation>
                   The type of media provided
                 </xs:documentation>
                 <xs:documentation>
                   Recommended values include "CDROM", "DVD", etc.
                 </xs:documentation>
             </xs:annotation>
           </xs:element>
            
           <xs:element name="requestURL" type="xs:anyURI" minOccurs="0">
              <xs:annotation>
             </xs:annotation>
           </xs:element>
         
         </xs:sequence>
       </xs:extension>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ServiceAPIRoleTypeRestriction" abstract="true">
     <xs:annotation>
       <xs:documentation>
         a Role whose type is forced to be 'Service: API'.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rsm:ResourceRole">
         <xs:sequence>
           <xs:element name="type" type="rsm:RoleType" minOccurs="1"
                       fixed="Service: API">
             <xs:annotation>
               <xs:documentation>
                 It is recommended that the pid attribute be set to
                 http://purl.org/dc/dcmitype/Service
               </xs:documentation>
             </xs:annotation>
           </xs:element>             
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ServiceAPI">
     <xs:annotation>
       <xs:documentation>
         metadata for describing a web-accessible service whose operations
         are accessed via URLs having a common URL base.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rac:ServiceAPIRoleTypeRestriction">
         <xs:sequence>

           <xs:element name="baseURL" type="xs:anyURI">
              <xs:annotation>
                 <xs:documentation>
                  The base URL for accessing the service API; it is expected that
                  additional URL components (paths or arguments) may be needed to
                  access different functions of the API.
                 </xs:documentation>
              </xs:annotation>
           </xs:element>       

           <xs:element name="specificationURL" type="xs:anyURI">
              <xs:annotation>
                 <xs:documentation>
                   a URL that will retrieve a structured description of the
                   service interface (e.g. WSDL, ...).
                 </xs:documentation>
              </xs:annotation>
           </xs:element>       

           <xs:element name="complianceID" type="xs:anyURI">
              <xs:annotation>
                 <xs:documentation>
                   a URI for a service standard that this service is 
                   compliant with.
                 </xs:documentation>
              </xs:annotation>
           </xs:element>       
   
         </xs:sequence>
       </xs:extension>
     </xs:complexContent>

   </xs:complexType>

   <xs:complexType name="ViaServiceAPI">
     <xs:annotation>
       <xs:documentation>
         metadata describing how one can access a resource via a web service
         API 
       </xs:documentation>
       <xs:documentation>
         The accessURL points to a documentation and/or GUI front-end to the 
         service.  
       </xs:documentation>
       <xs:documentation>
         The details element provides additional information about supported
         platforms, licensing, etc. 
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rac:AccessVia">
         <xs:sequence>
           <xs:element name="title" type="xs:token" minOccurs="0" maxOccurs="1"/>
           <xs:element name="description" type="xs:token" minOccurs="0"/>
           <xs:element name="accessURL" type="rac:AccessURL" minOccurs="0"/>
           <xs:element name="details" type="rac:Software"
                       minOccurs="0" maxOccurs="1"/>
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="PortalRoleTypeRestriction" abstract="true">
     <xs:annotation>
       <xs:documentation>
         a Role whose type is forced to be 'InteractiveResource: Portal'.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rsm:ResourceRole">
         <xs:sequence>
           <xs:element name="type" type="rsm:RoleType" minOccurs="1"
                       fixed="InteractiveResource: Portal">
             <xs:annotation>
               <xs:documentation>
                 It is recommended that the pid attribute be set to
                 http://purl.org/dc/dcmitype/Software
               </xs:documentation>
             </xs:annotation>
           </xs:element>             
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="Portal">
     <xs:annotation>
       <xs:documentation>
         metadata for describing a web portal, a web site that aggregrates and
         provides interaction with data and browser-based tools.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rac:PortalRoleTypeRestriction">
         <xs:sequence>

         </xs:sequence>
       </xs:extension>
     </xs:complexContent>

   </xs:complexType>

   <xs:complexType name="ViaPortal">
     <xs:annotation>
       <xs:documentation>
         description of acces to a resource via a portal.
       </xs:documentation>
       <xs:documentation>
         The accessURL points to the landing page for the portal.
       </xs:documentation>
       <xs:documentation>
         Use this AccessVia type when the resource is accessible via a portal
         that is not specific to this resource.  In such a case the accessURL
         given here would not be the same as the resource's landingPage URL.  
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rac:AccessVia">
         <xs:sequence>
           <xs:element name="title" type="xs:token" minOccurs="0" maxOccurs="1"/>
           <xs:element name="description" type="xs:token" minOccurs="0"/>
           <xs:element name="accessURL" type="rac:AccessURL" minOccurs="0"/>
           <xs:element name="details" type="rac:Portal"
                       minOccurs="0" maxOccurs="1"/>
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>



</xs:schema>

