schemas/xml/resmd-access.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://schema.nist.gov/xml/resmd-access/1.0wd" 
           xmlns="http://www.w3.org/2001/XMLSchema" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:rsm="http://schema.nist.gov/xml/res-md/1.0wd" 
           xmlns:rac="http://schema.nist.gov/xml/resmd-access/1.0wd" 
           xmlns:am="http://schema.nist.gov/xml/mgi.schema.annot" 
           elementFormDefault="unqualified" 
           attributeFormDefault="unqualified" version="0.1">

   <xs:annotation>
      <xs:documentation>
        An extension of the MGI resource metadata for describing
        access to data and service resources.
      </xs:documentation>
   </xs:annotation>

   <xs:import namespace="http://schema.nist.gov/xml/res-md/1.0wd"
              schemaLocation="https://raw.githubusercontent.com/RayPlante/mgi-resmd/resmdxml.9/schemas/xml/res-md.xsd"/>

   <xs:complexType name="AccessibleResource">
     <xs:annotation>
       <xs:documentation>
         a kind of resource that can be accessed as part of a federated data
         application.  
       </xs:documentation>
       <xs:documentation>
         This typically refers to things like data and software that can be
         downloaded, accessed via an API or portal, or engaged using special
         software.  
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rsm:Resource">
         <xs:sequence>

           <xs:element name="access" type="rac:Access" minOccurs="0">
             <xs:annotation>
               <xs:documentation>
                 Information describing how to access the resource and its 
                 features and capabilities.  
               </xs:documentation>
             </xs:annotation>
           </xs:element>

         </xs:sequence>
       </xs:extension>
     </xs:complexContent>

   </xs:complexType>

   <xs:complexType name="Access">
     <xs:annotation>
       <xs:documentation>
         metadata describing how one can access a resource and its features
         and capabilities.
       </xs:documentation>
     </xs:annotation>

     <xs:sequence>

       <xs:element name="policy" type="rac:Policy">
         <xs:annotation>
           <xs:documentation>
             A description of the policy for accessing a resource.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name="viaDownload" type="rac:Download"
                   minOccurs="0" maxOccurs="unbounded">
         <xs:annotation>
           <xs:documentation>
             A description of URLs for directly downloading the
             resource.
           </xs:documentation>
           <xs:documentation>
             (only for data collections and software classes?)
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name="via" type="rac:AccessVia"
                   minOccurs="0" maxOccurs="unbounded">
         <xs:annotation>
           <xs:documentation>
             A description of the access to a resource through some 
             mechanism (other than simple download).
           </xs:documentation>
           <xs:documentation>
             As the AccessVia type is abstract, all instances must include an
             xsi:type attribute.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

     </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AccessVia">
     <xs:annotation>
       <xs:documentation>
         metadata describing how one can access a resource via some mechanism
       </xs:documentation>
       <xs:documentation>
         This class re-uses the Role type to provide metadata specialized
         metadata in the case where the access mechanism (e.g. a portal or
         a software package) is not registered on its own.
       </xs:documentation>
     </xs:annotation>

     <xs:sequence>
       <xs:element name="role" type="rsm:Role"
                   minOccurs="0" maxOccurs="1">
         <xs:annotation>
           <xs:documentation>
             An identification of the type of access mechanism this is along
             with, if appropriate, qualifications on the features and
             constraints on that mechanism.
           </xs:documentation>
           <xs:documentation>
             The child type element provides the identifying label for the
             access mechanism.  Recognized types include,
             'InteractiveResource: Portal', 'Software', and 'Service: API'.
           </xs:documentation>
           <xs:documentation>
             Sub-classes of Role can define additional metadata for describing
             how it fulfills its role.  The xsi:type attribute must be used
             to include this additional metadata.  
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name="title" type="xs:token"
                   minOccurs="0" maxOccurs="1">
         <xs:annotation>
           <xs:documentation>
             A name for the access method.
           </xs:documentation>
           <xs:documentation>
             Providing this title is recommended when the access mechanism is
             distinct from this resource in some way; e.g. if it is a more
             general platform than this resource, or it is maintained by a
             a separate entity.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name="description" type="xs:token" minOccurs="0">
          <xs:annotation>
             <xs:documentation>
               A summary of how this mechanism provides access to the resource.
             </xs:documentation>
             <xs:documentation>
               Providing a description is recommended if more than one
               mechanism of the same type is available.
             </xs:documentation>
          </xs:annotation>
       </xs:element>
     </xs:sequence>

     <xs:attribute name="pid" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>
            An unambigous identifier for the access mechanism that resolves to
            a more complete description.
          </xs:documentation>
          <xs:documentation>
            This identifier should be provided if the access method (e.g. portal
            or software) is separately registered and described.  When this PID
            appears, any metadata provided in this item is for convenience of
            display and access.  The metadata provided by resolving this PID
            should be considered definitive.  
          </xs:documentation>
        </xs:annotation>
     </xs:attribute>
     
   </xs:complexType>

   <xs:complexType name="AccessViaWeb">
     <xs:annotation>
       <xs:documentation>
         metadata describing how one can access a resource
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rac:AccessVia">
         <xs:sequence>

           <xs:element name="homeURL" type="xs:anyURI" minOccurs="0">
              <xs:annotation>
                 <xs:documentation>
                   URL for accessing (via a browser) the home or entrance
                   page that provides access to the resource.
                 </xs:documentation>
                 <xs:documentation>
                   This should be provided when the URL is different from
                   the resource's referenceURL.
                 </xs:documentation>
              </xs:annotation>
           </xs:element>       

         </xs:sequence>
       </xs:extension>
     </xs:complexContent>

     
   </xs:complexType>

   <xs:complexType name="Policy">
     <xs:annotation>
       <xs:documentation>
         metadata describing the policies accessing the resource
       </xs:documentation>
     </xs:annotation>

     <xs:sequence>
       <xs:element name="rights" type="rac:Rights"
                   minOccurs="1" maxOccurs="unbounded">
         <xs:annotation>
           <xs:appinfo>
             <am:dcterm>Rights</am:dcterm>
           </xs:appinfo>           
           <xs:documentation>
             Information about the held in and over the resource.
           </xs:documentation>
           <xs:documentation>
             This should be repeated for all Rights values that apply.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

       <xs:element name="terms" type="xs:anyURI" minOccurs="0" maxOccurs="1">
         <xs:annotation>
           <xs:appinfo>
             <am:dcterm>Rights</am:dcterm>
           </xs:appinfo>           
           <xs:documentation>
             A public URL to a document describing the terms of access
             for the resource.
           </xs:documentation>
         </xs:annotation>
       </xs:element>

     </xs:sequence>
   </xs:complexType>

   <xs:simpleType name="Rights">
      <xs:restriction base="xs:token">
         <xs:enumeration value="public">
            <xs:annotation>
               <xs:documentation>
                  unrestricted, anonymous access is allowed without 
                  authentication.
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="open-login">
            <xs:annotation>
               <xs:documentation>
                  unrestricted access requires a login (or other 
                  authentication mechanism).  
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="proprietary">
            <xs:annotation>
               <xs:documentation>
                  requires authentication and users only have access 
                  to datasets they have been given rights to.  Generally,
                  there is no charge to use this resource.
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="fee-required">
            <xs:annotation>
               <xs:documentation>
                  requires user to pay a one-time or subscription fee in 
                  order to access the resource.  On-line resources typically
                  will require authentication.
               </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="Download">
     <xs:annotation>
       <xs:documentation>
         A description of how to download data or related files via simple
         (HTTP GET) URLs.
       </xs:documentation>
     </xs:annotation>

     <xs:sequence>
       <xs:element name="description" type="xs:token" minOccurs="0">
          <xs:annotation>
             <xs:documentation>
               A summary of what the download URL delivers
             </xs:documentation>
             <xs:documentation>
               Providing a description is recommended if more than one
               portal is available.  If the accessURL's use attribute is set 
               to "base", describe what is expected to be appended to the URL
               to retrieve individual files.  
             </xs:documentation>
          </xs:annotation>
       </xs:element>

       <xs:element name="accessURL" type="rac:AccessURL">
          <xs:annotation>
             <xs:documentation>
                The URL that, when accessed (via HTTP GET), will deliver the 
                data or file associated with this resource.  
             </xs:documentation>
          </xs:annotation>
       </xs:element>       
     </xs:sequence>
     
   </xs:complexType>

   <xs:complexType name="AccessURL">
     <xs:simpleContent>
       <xs:extension base="xs:anyURI">
         <xs:attribute name="use">
           <xs:annotation>
             <xs:documentation>
               A flag indicating whether this should be interpreted as a base
               URL, a full URL, or a URL to a directory that will produce a 
               listing of files.
             </xs:documentation>
             <xs:documentation>
               The default value assumed when one is not given depends on the 
               context.  
             </xs:documentation>
           </xs:annotation>
           <xs:simpleType>
             <xs:restriction base="xs:NMTOKEN">
               <xs:enumeration value="full">
                 <xs:annotation>
                   <xs:documentation>
                     Assume a full URL--that is, one that can be invoked 
                     directly without alteration.  This usually returns a 
                     single document or file.  
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="base">
                 <xs:annotation>
                   <xs:documentation>
                     Assume a base URL--that is, one requiring an extra portion
                     to be appended before being invoked.  
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="dir">
                 <xs:annotation>
                   <xs:documentation>
                     Assume URL points to a directory that will return a listing
                     of files.  
                   </xs:documentation>
                 </xs:annotation>
               </xs:enumeration>
             </xs:restriction>
           </xs:simpleType>
         </xs:attribute>

         <xs:attribute name="returns" type="xs:token">
           <xs:annotation>
             <xs:documentation>
               a MIME type indicating what is (typically) returned when
               this URL is retrieved.
             </xs:documentation>
             <xs:documentation>
               If use="dir", returns should usually be set to "text/html" to
               indicate that the return is a web page listing links to
               individual components.  
             </xs:documentation>
           </xs:annotation>
         </xs:attribute>
         
       </xs:extension>
     </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="SoftwareRoleTypeRestriction" abstract="true">
     <xs:annotation>
       <xs:documentation>
         a Role whose type is forced to be 'Software'.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rsm:Role">
         <xs:sequence>
           <xs:element name="type" type="rsm:RoleType" minOccurs="1"
                       fixed="Software">
             <xs:annotation>
               <xs:documentation>
                 It is recommended that the pid attribute be set to
                 http://purl.org/dc/dcmitype/Software
               </xs:documentation>
             </xs:annotation>
           </xs:element>             
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="Software">
     <xs:annotation>
       <xs:documentation>
         metadata for describing software
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rac:SoftwareRoleTypeRestriction">
         <xs:sequence>

           <xs:element name="codeLanguage" type="xs:token"
                       minOccurs="0" maxOccurs="unbounded">
             <xs:annotation>
               <xs:documentation>
                 The name of the code language that the software is implemented
                 in
               </xs:documentation>
             </xs:annotation>
           </xs:element>

         </xs:sequence>
       </xs:extension>
     </xs:complexContent>

   </xs:complexType>

   <xs:complexType name="ServiceAPIRoleTypeRestriction" abstract="true">
     <xs:annotation>
       <xs:documentation>
         a Role whose type is forced to be 'Service: API'.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:restriction base="rsm:Role">
         <xs:sequence>
           <xs:element name="type" type="rsm:RoleType" minOccurs="1"
                       fixed="Service: API">
             <xs:annotation>
               <xs:documentation>
                 It is recommended that the pid attribute be set to
                 http://purl.org/dc/dcmitype/Service
               </xs:documentation>
             </xs:annotation>
           </xs:element>             
         </xs:sequence>
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="ServiceAPI">
     <xs:annotation>
       <xs:documentation>
         metadata for describing a web-accessible service whose operations
         are accessed via URLs having a common URL base.
       </xs:documentation>
     </xs:annotation>

     <xs:complexContent>
       <xs:extension base="rac:ServiceAPIRoleTypeRestriction">
         <xs:sequence>

           <xs:element name="baseURL" type="xs:anyURI">
              <xs:annotation>
                 <xs:documentation>
                  The base URL for accessing the service API; it is expected that
                  additional URL components (paths or arguments) may be needed to
                  access different functions of the API.
                 </xs:documentation>
              </xs:annotation>
           </xs:element>       

           <xs:element name="specificationURL" type="xs:anyURI">
              <xs:annotation>
                 <xs:documentation>
                   a URL that will retrieve a structured description of the
                   service interface (e.g. WSDL, ...).
                 </xs:documentation>
              </xs:annotation>
           </xs:element>       

           <xs:element name="complianceID" type="xs:anyURI">
              <xs:annotation>
                 <xs:documentation>
                   a URI for a service standard that this service is 
                   compliant with.
                 </xs:documentation>
              </xs:annotation>
           </xs:element>       
   
         </xs:sequence>
       </xs:extension>
     </xs:complexContent>

   </xs:complexType>



</xs:schema>

